
    <h2 class="text-center">Posts</h2>
  <div class="row">
    <div class="col-sm-12 col-lg-4 col-md-4 col-xs-12 mb-2 " *ngFor="let post of posts">
    <div class="card border border-primary shadow bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.description}}</p>
        <button class="btn btn-sm btn-outline-primary">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
        <button class="btn btn-sm btn-outline-primary " ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button class="btn btn-sm btn-outline-danger" ><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  </div>
  <div class="row" >
    <button class="btn btn-sm btn-outline-success ml-3" (click)="add()"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
  </div>